div {
  box-sizing: border-box;
}

p {
  color: black;
}

.tab-block-wrapper {
  margin: 30px auto;
  width: 90%;
  max-width: 760px;
  border: 1px solid gray;
  box-sizing: border-box;
  /* height: 100px; */
  position: relative;
}

.overlay-left,
.overlay-right {
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0;

  height: 80px;
  width: 100%;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
}

.overlay-left {
  background-image: linear-gradient(
    to left,
    RGBA(255, 255, 255, 0.85) 0%,
    RGBA(255, 255, 255, 0) 20%
  );
}

.overlay-right {
  background-image: linear-gradient(
    to right,
    RGBA(255, 255, 255, 0.85) 0%,
    RGBA(255, 255, 255, 0) 20%
  );
}

.tab-block__header-wrapper {
  height: 80px;
  overflow-x: scroll;
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
}

.tab-block__content-wrapper {
  padding: 30px 30px 65px 30px;
  width: 100%;
  display: inline-block;
  border: 1px solid gray;
  border-top: none;
}

.tab-block__header-tab {
  border: 1px solid gray;
  height: 100%;
  min-width: 175px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(245, 245, 245);
  transition: all 0.2s;
  border-bottom-color: gray;
}

.left-button,
.right-button {
  /* 45/65 */
  width: 45px;
  height: 65px;
  background: green;
  color: white;
  position: absolute;
  border-radius: 5px;
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
}

.left-button {
  top: 5px;
  left: 5px;
}

.right-button {
  right: 5px;
  top: 5px;
}

/* .left-button:hover,
.right-button:hover {
  opacity: 1;
} */

.header-hover-left:hover > .left-button,
.header-hover-right:hover > .right-button {
  pointer-events: auto;
  opacity: 1;
}

.tab-block__content {
  display: none;
  opacity: 0;
  transition: all 0.2s;
}

.tab-block__content p img {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

.active-tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
  /* border-bottom: 0px solid gray; */
  border-bottom-color: white;
  color: gray;
}

.active-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
  /* border-bottom: 0px solid gray; */
  border-bottom-color: white;
  color: gray;
  opacity: 1;
  animation: fade-in-anim 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-anim-class {
  animation: fade-in-anim 0.3s;
  animation-fill-mode: forwards;
}

@media (min-width: 800px) {
  .tab-block-wrapper {
    width: 70%;
  }
}
